<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node.js App Status</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Node.js Application Status</h1>

  <div id="mysqlStatus" class="status">
    <p>MySQL Connection: <span class="status-text">Checking...</span></p>
    <img src="/images/mysql-success.png" class="status-img hidden" alt="MySQL Success">
  </div>

  <div id="redisStatus" class="status">
    <p>Redis Connection: <span class="status-text">Checking...</span></p>
    <img src="/images/redis-success.png" class="status-img hidden" alt="Redis Success">
  </div>

  <script>
    // Embedded dynamic data using templating
    const mysqlConnected = <%= mysqlConnected %>;
    const redisConnected = <%= redisConnected %>;
  </script>
  <script src="/js/animation.js"></script>
</body>
</html>
